---
layout: page
title: Daily Journal
permalink: /journal/archive/
---
<style>
  a.permalink {
    all: unset;
    cursor: pointer;
    text-decoration: underline;
  }
  a.permalink::after {
    all: unset;
  }
</style>
    {% assign postsByDay = 
      site.journals | group_by_exp:"post", "post.date | date: '%B %Y'" | reverse %}
      
      {% for day in postsByDay %}
        <h1 style="padding-bottom: 0.25em;">{{ day.name }}</h1>
          <ul>
            {% for post in day.items %}
              <li><a class="permalink" href="{{ post.url }}">{{ post.date | date: '%A %e %l:%M%P' }}</a></li>
            {% endfor %}
          </ul>
      {% endfor %}
