---
title: Journal
layout: feed
content-type: eg
permalink: /journal/
---

{% assign postsByDay = site.logs | group_by_exp: "log", "log.date | date: '%A, %B %e, %Y'" | reverse | limit: 7 %}

{% for day in postsByDay %}

  <h2>{{ day.name }}</h2>
    <ul>
      {% for post in day.items %}
        {% if post.content.size > 600 %}
        {% capture postcontent %}{{ post.content | replace: "<blockquote>", "&ldquo;" | replace: "</blockquote>", "&rdquo;" | strip_html | truncate: 400 }} <a href="{{ post.url }}">more »</a>{% endcapture %}
        {% else %}
        {% capture postcontent %}{{ post.content }}{% endcapture %}
        {% endif %}
      <li>
        <h3><a href="{{ post.url }}">{{ post.date | date: "%l:%M%P" }}</a></h3>
        {% if post.bookmark-of != nil %}
          <p>🔖 Bookmarked: <a href="{{ post.bookmark-of }}">{{ post.title }}</a></p>
        {% endif %}
        <div>{{ postcontent }}</div>
      </li>
      {% endfor %}
    </ul>
{% endfor %}
