---
layout: post
title: Links
permalink: /links/
content-type: eg
---
<p>Everything here has a link pointing to an external website.</p>

    <h2>Articles by Published Date</h2>
    <p>News items, blog posts, and other articles with a publish date. The title link takes you straight to the article, and the # is the local permalinked note.</p>
    <div style="margin-left: 20px">
    {% assign linkcount = 0 %}
    {% assign sortednotes = site.notes | sort: 'published' | reverse %}
    {% for note in sortednotes %}
      {% if note.published and note.link and linkcount < 20 %}
        <div class="note-entry" style="margin-bottom: 10px;">
          <span>{{ note.published | date: "%Y %B" }}: <a href="{{ note.link }}">{{ note.title }}</a></span>&nbsp;<span><a href="{{ note.url }}" class="internal-link" title="Local Notes - {{ note.title }}">#</a></span>
        </div>
        {% assign linkcount = linkcount | plus: 1 %}
      {% elsif linkcount >= 20 %}
        {% break %}
      {% endif %}
    {% endfor %}
</div>

<h2>Recently Added and Updated</h2>
<p>Recently added bookmark style links to external content. Permalinks to tools and services rather than dated articles or news.</p>
<label for="rmn-1" class="margin-toggle  ">⊕</label><input type="checkbox" id="rmn-1" class="margin-toggle"><span class="mn-right">These will appear in both the Recently Updated Notes and Recent Links <a href='{% link _notes/feeds.md %}'>Feeds</a>. </span>
  <div style="margin-left: 20px; margin-bottom: 20px;">
    {% assign linkcount = 0 %}
    {% assign sortednotes = site.notes | sort: 'last_modified_at' | reverse %}
    {% for note in sortednotes %}
      {% if note.published == null and note.link and linkcount < 10 %}
        <div class="note-entry" style="margin-bottom: 10px;">
          <span><a class="internal-link" href="{{ note.url }}">{{ note.title }}</a></span><br /><span style="margin-left: 20px; font-size: smaller;">Source: <a href="{{ note.link }}">{{ note.link }}</a></span>
        </div>
        {% assign linkcount = linkcount | plus: 1 %}
      {% elsif linkcount >= 10 %}
        {% break %}
      {% endif %}
    {% endfor %}
  </div>

    <hr />

    <p>Subscribe to the <a class="internal-link" href="/feed/links.xml">links feed</a>.</p>