.tb-inc {
/* background-color: #F0F8FF; */
padding: 2px 10px 2px 20px;
border:  1px solid #ccc !important;
border-radius: 16px;
}

p.tbinc-title {
font-size: small;
text-align: right;
margin-right: 10px;
}

.tb-inc-controls{
margin-top:-2em;
padding: 5px;
display:none;
}
.tb-inc-tab-content .tb-inc{
margin:0;
padding:0;
position:relative;
}
.tb-inc-tab-content .tb-inc-controls{
position:absolute;
margin-top:-5px;
right:0;
top:0;
}
.tb-inc:hover > .tb-inc-controls{
display:block;
float:right;
}

