<div id="copyright">
    <p id="copyright-notice"><a href="/feeds/">Subscribe</a> • <a href="{% link _notes/about.md %}">About</a> • <a href="{% link _notes/contact.md %}">Contact</a> | <a rel="me" href="https://github.com/bmann">GitHub »</a> | <a href="https://blog.bmannconsulting.com">Blog »</a></p>
</div> 

<!-- Lightfoot -->
<script
  src="https://unpkg.com/littlefoot/dist/littlefoot.js"
  type="application/javascript"
></script>
<script type="application/javascript">
  littlefoot.littlefoot() // Pass any littlefoot settings here.
</script>