<head>
  <meta charset="UTF-8">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">
  <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
  <link rel="alternate" type="application/atom+xml" title="Blog Feed for bmannconsulting.com" href="{{ site.url }}/blog.xml" />
  <link rel="alternate" type="application/atom+xml" title="Journal Feed for bmannconsulting.com" href="{{ site.url }}/journal.xml" />
  
  {% comment %}<!-- Littlefoot footnotes https://github.com/goblindegook/littlefoot -->{% endcomment %}
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />

  {% if page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}"/>
  {% else %}
  <meta property="og:description" content="{{ site.title | strip_html | strip_newlines | truncate: 160 }}"/>
  {% endif %}

  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="article">
  {% else %}
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:type" content="website">
  {% endif %}
  
  {% if page.published %}
  <link rel="canonical" href="{{ page.link }}" />
  <meta property="article:published_time" content="{{ page.published | date_to_xmlschema }}">
  <meta property="article:author" content="{{ page.author }}">
  {% elsif page.date %}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  <meta property="article:author" content="{{ site.url }}/">
  {% endif %}

  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />

  {% if page.image %}
  <meta property="og:image" content="{{ site.url }}{{ page.image }}">
  <meta property="fc:frame:image" content="{{ site.url }}{{ page.image }}">
  <meta property="fc:frame:image:aspect_ratio" content="1:1">
  {% else %}
  <meta property="og:image" content="{{ site.url }}/assets/bmann_hair_orange_256x256.png">
  {% endif %}

{% if page.frame %}
  <!-- Open Frames Custom -->
  <meta property="fc:frame" content="vNext">
  {% if page.frame.image %}
  <meta property="fc:frame:image" content="{{ page.frame.image }}">
  <meta property="fc:frame:image:aspect_ratio" content="{{ page.frame.image-aspect-ratio }}">
  {% endif %}
  {% if page.frame.button1 %}
  <meta property="fc:frame:button:1" content="{{ page.frame.button1.label }}">
  <meta property="fc:frame:button:1:action" content="{{ page.frame.button1.action }}">
  <meta property="fc:frame:button:1:target" content="{{ page.frame.button1.target }}">
  {% endif %}
  {% if page.frame.button2 %}
  <meta property="fc:frame:button:2" content="{{ page.frame.button2.label }}">
  <meta property="fc:frame:button:2:action" content="{{ page.frame.button2.action }}">
  <meta property="fc:frame:button:2:target" content="{{ page.frame.button2.target }}">
  {% endif %}
  {% if page.frame.button3 %}
  <meta property="fc:frame:button:3" content="{{ page.frame.button3.label }}">
  <meta property="fc:frame:button:3:action" content="{{ page.frame.button3.action }}">
  <meta property="fc:frame:button:3:target" content="{{ page.frame.button3.target }}">
  {% endif %}
{% else %}
  <!-- Open Frames Default -->
  {% unless page.image %}
  <meta property="fc:frame:image" content="{{ site.url }}/assets/bmann_hair_orange_256x256.png">
  <meta property="fc:frame:image:aspect_ratio" content="1:1">
  {% endunless %}
  <meta property="fc:frame" content="vNext">
  <meta property="fc:frame:button:1" content="🌱 Home">
  <meta property="fc:frame:button:1:action" content="link">
  <meta property="fc:frame:button:1:target" content="https://bmannconsulting.com">
  <meta property="fc:frame:button:2" content="🔖 Tagged{% for tag in page.tags %} #{{ tag }}{% endfor %}">
  <meta property="fc:frame:button:2:action" content="link">
  <meta property="fc:frame:button:2:target" content="https://bmannconsulting.com/notes/">
  <meta property="fc:frame:button:3" content="💬 Drips">
  <meta property="fc:frame:button:3:action" content="link">
  <meta property="fc:frame:button:3:target" content="https://www.drips.network/app/bmann.eth">
{% endif %}
  <title>
    {% if page.id == "home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &mdash; {{ site.title }}
    {% endif %}
  </title>
</head>
