<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta charset="utf-8"/>
    <meta content="{{ site.name}}'s {{ site.title }}" property="og:site_name"/>
    <meta content="{{ site.description }}" property="og:description">
    <meta content="{{ site.url }}/about/" property="article:author">

    {%- if page.title -%}
    <meta content="{{ page.title }}" property="og:title">
    <meta content="article" property="og:type">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    <title>{{ page.title }} - {{site.title}}</title>
    {%- else -%}
    <meta content="website" property="og:type">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    <title>{{ site.name }}'s {{site.title}}</title>
    {%- endif -%}

    <link rel="canonical" href="{{site.url}}{{page.url}}"/>
    <link rel="apple-touch-icon" href="{{site.profile_pic}}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

    <link rel="icon" href="{{site.favicon}}" type="image/png" sizes="16x16"/>
    <link href="{% link assets/css/style.css %}" rel="stylesheet" media="all" class="default"/>

    <!--[if IE]>
        <link href="/assets/css/ie-target.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--<link href="/assets/css/prism.css" rel="stylesheet" />-->
    <link rel="alternate" type="application/rss+xml" href="{% link feeds/notes.xml %}">
</head>