{% assign blogcount = 0 %}
{% assign recentblogs = site.posts | sort: 'date' | reverse %}
<div class="recentblogs">
{% for blog in recentblogs %}
{% if blog.section == 'blog' and blogcount < include.bloglimit %}
<div class="blog-entry" style="margin-bottom: 10px;">
<span><a href="{{ blog.url }}">{{ blog.title }}</a>&nbsp;<time style="float: right;" datetime="{{ blog.date | date: "%F" }}{{ blog.date | date: "%B %e, %Y" }}">{{ blog.date | date: "%B %e, %Y" }}</time></span>
</div>
{% assign blogcount = blogcount | plus: 1 %}
{% elsif blogcount >= include.bloglimit %}
{% break %}
{% endif %}
{% endfor %}
</div>