---
---

{%- include head.html -%}

<body>
    <div class="container">                    
        <div class = "box">
            {%- include header.html -%}
            {{ content }}
            {%- include footer.html -%}
        </div>
        <button class="scroll-to-top" id="scroll-to-top"><i class="fa fa-chevron-up"></i></button>
    </div>
    <script>
        document.getElementById("scroll-to-top").addEventListener("click", function() {
            window.scrollTo({top: 0, left: 0, behavior: 'smooth'});
        });
    </script>
    {%- include contextmenu.html -%}
</body>
</html>
